

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        
            
                <a class="navbar-brand" routerLink="/">Contact Book</a>
            
            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  </ul>
           
                  
                    
                  <div class="">
                    <div *ngIf="!isLogin">

                
                      <button  (click)="login()" class="btn btn-outline-secondary">login</button>
                  </div>
                  <div *ngIf="isLogin">
                    <button routerLink="/newcontact" class="btn btn-outline-secondary">Add Contact</button>
                      
                     &nbsp;
                      <button (click)="logout()"  class="btn btn-outline-secondary">logout</button>
                  </div> 
                </div>
          
          
             
            </div>
        </div>
       
        

        

        <!-- <div *ngIf="!isLogin">

                
          <button  (click)="login()" class="btn btn-outline-secondary">login</button>
      </div>
      <div *ngIf="isLogin">
          <button [routerLink]="'/cart'"  class="btn btn-outline-secondary">Cart</button>
          &nbsp;
          <button (click)="logout()"  class="btn btn-outline-secondary">logout</button>
      </div> -->
    
   
  </nav>